/*
.mepr-hidden {
  display: none;
}

.icon32 {
  float: right;
  display: inline-block;
  background:url('../images/memberpress-32.png') !important;
  width: 267px !important;
  height: 32px !important;
}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .icon32 {
    background-image: url('../images/memberpress-32@2x.png') !important;
    background-size: 267px 32px !important;
  }
}

.mepr-options-hidden-pane {
  display:none;
  margin-top:25px;
}

div#pages {
  display:block;
}

h2.nav-tab-wrapper {
  padding-left:6px;
}

h2 .nav-tab {
  color:#21759B;
}

h2 .nav-tab:hover {
  color:#D54E21;
}

h2 .nav-tab-active {
  text-shadow:1px 1px 1px white;
  font-weight:bold;
  color:#464646;
}

#mepr_options_form h2 .nav-tab {
  padding:4px 10px 6px;
  margin:0 -2px -1px 0;
  font-size:18px;
  vertical-align:top;
}

hr {
  border:none;
  background-color:#CCC;
  height:1px;
  margin-top:12px;
  margin-bottom:13px;
}

.submit {
  margin:10px 0 5px 0;
  padding:0;
}

#integration.mepr-options-hidden-pane, #accounts.mepr-options-hidden-pane {
  padding-top:8px
}

.mepr-options-hidden-pane {
  margin-top:0;
  padding-top:0;
}

.mepr-edit-email-toggle {
  margin-left: 5px;
}

.mepr-options-pane {
  margin-left: 15px;
}

.mepr-edit-email input[type=text], .mepr-edit-email textarea {
  width: 500px
}

.mepr-edit-email textarea {
  min-height: 300px;
}

#emails label {
  display: inline-block;
  min-width: 250px;
  width: 250px;
  max-width: 250px;
}

#emails textarea, #emails .legend-pane {
  display: inline-block;
  vertical-align: top;
}

textarea#mepr-custom-message {
  width: 500px;
  height: 100px;
}

#emails .legend-pane {
  padding-left: 10px;
  min-width: 200px;
  max-width: 200px;
  width: 200px;
}

#i18n .mepr-field-label {
  display: inline-block;
  width: 100px;
}

.mepr-integration-form {
  display: inline-block;
  margin-top: -25px;
}

.mepr-integration-setup-form {
  float: left;
  width: 300px;
}

.mepr-integration-gateway-form {
  left: 235px;
}

.mepr-integration-delete {
  width: 100%;
  text-align: right;
  margin-top: -10px;
}

.mepr-integration {
  margin: 0 0 5px 0;
  padding: 15px;
  border: 1px solid #DFDFDF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  line-height: 30px;
}

.mepr-integration-setup-form label {
  width: 100px;
  display: inline-block;
}

ul.custom_options_list {
  margin:18px;
  padding:15px;
  background-color: transparent;
  border: 1px solid #DFDFDF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

.mepr-custom-field {
  padding: 15px;
  margin-bottom: 5px !important;
}

.mepr-custom-field input[type=text],
.mepr-custom-field select {
  margin-right: 15px !important;
}

.mepr-custom-field a.mepr-custom-field-remove,
.mepr-custom-field a.mepr-option-remove {
  float: right;
}

.clippy_input {
  background: #015289 !important;
  color: white !important;
}

*/

.mepr-license-active {
  padding: 10px;
  background-color: #caffcd;
  border: 1px solid #27820d;
  margin: 25px 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 450px;
}

.mepr-deactivate-button {
  margin-top: 15px;
  margin-bottom: 7px;
}

.mepr-license-active h4 {
  font-size: 18px;
  margin: 2px 0 10px 0;
}
