/** MP PLAN TEMPLATE: minimal_horizontal */
.mepr-price-menu.minimal_horizontal.minimal_dawn_horizontal .mepr-price-box {
  background-color: #027368;
  color: #efefef;
}

.mepr-price-menu.minimal_horizontal.minimal_dawn_horizontal .mepr-price-box.highlighted {
  background-color: #F2E530;
  color: #888888;
}

.mepr-price-menu.minimal_horizontal.minimal_dawn_horizontal .mepr-price-box .mepr-price-box-benefits .mepr-price-box-benefits-list .mepr-price-box-benefits-item {
  border-bottom: 1px dotted #efefef;
}

.mepr-price-menu.minimal_horizontal.minimal_dawn_horizontal .mepr-price-box.highlighted .mepr-price-box-benefits .mepr-price-box-benefits-list .mepr-price-box-benefits-item {
  border-bottom: 1px dotted #888888;
}

.mepr-price-menu.minimal_horizontal.minimal_dawn_horizontal .mepr-price-box .mepr-price-box-button a {
  background-color: #f4f4f4;
}

.mepr-price-menu.minimal_horizontal.minimal_dawn_horizontal .mepr-price-box .mepr-price-box-button a:hover {
  background-color: white;
}
