/* CSS for plans here */
.mepr-price-menu.minimal_vertical .mepr-price-box .mepr-most-popular {
  display: none;
}

.mepr-price-menu.minimal_vertical {
  width: 100%;
  margin: 0;
  padding: 0;
}

.mepr-price-menu.minimal_vertical .mepr-price-box {
  display: block;
  /* background-color: #dedede; */
  width: 90%;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 5px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.mepr-price-menu.minimal_vertical .mepr-price-box.highlighted {
  /* background-color: #f1f1f1; */
  padding: 10px;
  width: 95%;
}

.mepr-price-menu.minimal_vertical .mepr-price-box-title {
  font-size: 175%;
  font-weight: bold;
  margin-top:10px;
  margin-bottom:5px;
}

.mepr-price-menu.minimal_vertical .mepr-price-box-price {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 210%;
}

.mepr-price-menu.minimal_vertical .mepr-price-box-heading {
  margin-top: 5px;
  font-size: 120%;
}

.mepr-price-menu.minimal_vertical .mepr-price-box-benefits .mepr-price-box-benefits-list {
  margin: 10px 0;
  font-weight: bold;
}

.mepr-price-menu.minimal_vertical .mepr-price-box-benefits .mepr-price-box-benefits-list .mepr-price-box-benefits-item {
  font-size: 110%;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 7px;
  /* border-bottom: 1px dotted #888888; */
}

.mepr-price-menu.minimal_vertical .mepr-price-box-footer {
  margin-top: 5px;
}

.mepr-price-menu.minimal_vertical .mepr-price-box-button {
  margin: 10px 0;
}

.mepr-price-menu.minimal_vertical .mepr-price-box-button a {
  /*padding: 5px 7px;*/
  font-weight: bold;
  /* background-color: #f4f4f4; */
}

.mepr-price-menu.minimal_vertical .mepr-price-box-button a:hover {
  text-decoration: none;
  /* background-color: white; */
}

.mepr-price-menu.minimal_vertical .mepr-price-box .mepr-price-box-button a.mepr-disabled {
  /* background-color: #9f9f9f; */
  cursor: default;
}

.mepr-price-menu.minimal_vertical .mepr-price-box .mepr-price-box-button a.mepr-disabled:hover {
  /* background-color: #9f9f9f; */
}
